
.body{
    background-image: url(./imagenes/fondo.jpg);
    background-size: cover;
    width: 90%;
    margin: 20px;
    justify-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas: 
    "logo logo logo logo"
    "menu menu menu menu"
    "fotoindex videoindex"
    "footer footer footer footer";
    
}
.logo{
    grid-area: logo;
    animation-name: aparecer;
    animation-iteration-count: initial;
    animation-timing-function: 2s;
    animation-duration: 2s;
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.footer{
    grid-area: footer;
}
.fotoindex{
    grid-area: fotoindex;
}
.videoindex{
    grid-area: videoindex;
}

.menu{
    list-style-type: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: menu;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
.menu__boton{
    text-decoration: none;
    color: aliceblue;
    background-color: blueviolet;
    padding: 4px;
}


.redes__boton{
    color: rgb(9, 113, 9);
}