@media only screen and (max-width: 500px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background-image: url(./imagenes/fondo.jpg);
        background-size: cover;
        width: 90%;
        margin: 20px;
    }
    
    .logo{
        grid-area: logo;
        animation-name: aparecer;
        animation-iteration-count: initial;
        animation-timing-function: 2s;
        animation-duration: 2s;
    }
    
    @keyframes aparecer{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .menu{
        list-style-type: none;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        grid-area: menu;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: initial;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat(4 1fr);
        grid-template-areas: 
        "foto1 foto2 foto3"
        "foto4 foto4 foto5"
        "video1 video1 video1"
        "video2 empty video3";
    }
    .foto1{
        grid-area: foto1;
    }
    .foto2{
        grid-area: foto2;
    }
    .foto3{
        grid-area: foto3;
    }
    .foto4{
        grid-area: foto4;
    }
    .foto5{
        grid-area: foto5;
    }
    .video1{
        grid-area: video1;
    }
    .video2{
        grid-area: video2;
    }
    .video3{
        grid-area: video3;
    }

    .menu__boton{
        text-decoration: none;
        color: aliceblue;
        background-color: blueviolet;
        padding: 4px;
    }
    
    .redes{
        list-style-type: none;
        display: flex; direction: row;
        justify-content: center;
    }
    
    .redes__boton{
        color: rgb(9, 113, 9);
    }

}

@media only screen and (max-width: 600px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background-image: url(./imagenes/fondo.jpg);
        background-size: cover;
        width: 90%;
        margin: 20px;
    }
    
    .logo{
        grid-area: logo;
        animation-name: aparecer;
        animation-iteration-count: initial;
        animation-timing-function: 2s;
        animation-duration: 2s;
    }
    
    @keyframes aparecer{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .menu{
        list-style-type: none;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        grid-area: menu;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: initial;
    }
    .main{
        display: grid; justify-content: column center;
    }
    .imagenes{
        display: grid; justify-content: column center
    }
    .videos{
        display: grid; justify-content: column center;
    }
    .menu__boton{
        text-decoration: none;
        color: aliceblue;
        background-color: blueviolet;
        padding: 4px;
    }
    
    .redes{
        list-style-type: none;
        display: flex; direction: row;
        justify-content: center;
    }
    
    .redes__boton{
        color: rgb(9, 113, 9);
    }
}
@media only screen{
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background-image: url(./imagenes/fondo.jpg);
        background-size: cover;
        width: 90%;
        margin: 20px;
    }
    
    .logo{
        grid-area: logo;
        animation-name: aparecer;
        animation-iteration-count: initial;
        animation-timing-function: 2s;
        animation-duration: 2s;
    }
    
    @keyframes aparecer{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .menu{
        list-style-type: none;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        grid-area: menu;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: initial;
    }
    .main{
        display: grid; justify-content: column center;
    }
    .imagenes{
        display: grid; justify-content: column center
    }
    .videos{
        display: grid; justify-content: column center;
    }
    .menu__boton{
        text-decoration: none;
        color: aliceblue;
        background-color: blueviolet;
        padding: 4px;
    }
    
    .redes{
        list-style-type: none;
        display: flex; direction: row;
        justify-content: center;
    }
    
    .redes__boton{
        color: rgb(9, 113, 9);
    }
}